
*target*
*.jar
*.war
*.ear
*.class
.metadata/**/*
.recommenders/

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#Nerviger Bloedsinn
.DS_Store
.metadata/**/*
metadata/*



# Locally stored "Eclipse launch configurations"
*.launch
